body {
    margin: 0;
    padding: 0;
}
header {
    background-image: url('../Img/Parrilla.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    opacity: 0.8;
}
header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
header a:hover {
    color: #ddd;
}
.full-screen {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
#parte1 {
    background-image: url('../Img/picada.jpg');
}
#parte2 {
    background-color: lightblue;
}
#parte3 {
    background-color: lightgreen;
}
#parte4 {
    background-color: lightpink;
}